<div class="user_edit">
   <%= link_to "ユーザー編集", edit_user_path(@user.id) %>
</div>

<div>
  <%= link_to mypage_path do %>
    <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>
</div>

<table>
  <tbody>
      
    <tr>
      <td>
        名前
      </td>
    </tr>
    <tr>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    
    <tr>
      <td>    
        紹介文
      </td>
    </tr>
    <tr>
      <td>    
        <%= @user.infomation %>
      </td>
    </tr>
    
  </tbody>
</table>

<div class="mt-3">
  レビュー数：<%= @user.review_count %>
</div>


<div class="mt-4">
  <table>
    <thead>
      <tr>
        <th> 名所 </th>
        <th> レビュー </th>
        <th></th>
      </tr>
    </thead>
    
    <% @reviews.each do |review| %>
      <tbody>
        <tr>
          <td>
            <%= link_to review_path(review) do %>
              <%= review.title %>
            <% end %>
          </td>
            
          <td>
            <%= truncate(review.body, length: 30, omission: '...') %>
          </td>
        </tr>
        
        <tr>
          <td colspan="3">
            投稿日：<%= review.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>