<div class="container mx-auto">
  <div class="mt-3">
    <h1 class="text-center">タグ一覧</h1>
    <div class="row justify-content-center">
      <div class="col-md-4 mt-3">
        <ul>
          <% @tags.each do |tag| %>
            <li class="pb-2"> <%= tag.name %>　　
              <%= link_to "削除", admin_tag_path(tag.id), method: :delete, "data-confirm" => "本当に削除しますか?" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-5 offset-md-1 mt-3">
        <%= form_with model: Tag.new , url:'/admin/tags' , method: :post do |f| %>
          <div class="form-group">
            <h5> タグ作成 </h5> <br> 
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit '作成' , class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>