<div class="container">
  <h1>レビュー詳細</h1>

  <div>
    <% if current_user == @review.user %>
      <div>
        <%= link_to mypage_path do %>
          <%= image_tag @review.user.get_profile_image(50,50) %> <br>
          <%= current_user.name %>
        <% end %>
      </div>
    <% else %>  
      <div>
        <%= link_to user_path(@user.id) do %>
          <%= image_tag @review.user.get_profile_image(50,50) %> <br>
          <%= @user.name %>
        <% end %>
      </div>
    <% end %>
  
    <h4 class="font-weight-bold mt-3">名所</h4>
    <p><%= @review.title %></p>
  
    <h4 class="font-weight-bold">レビュー</h4>
    <p><%= @review.body %></p>
  
    <h4>評価</h4>
    <p><%= render "starrate", review: @review %></p>
    
    <h4>タグ</h4>
    <div class="border border-primary w-25">
      <% @review.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>
  
    <p class="pt-4">投稿日：<%= @review.created_at.strftime('%Y/%m/%d %H：%M') %></p>
  </div>

  <div>
    <table>
      <tbody>
        <tr>
        
          <% if @review.user_id == current_user.id %> 
            <td> 
              <%= link_to "編集", edit_review_path(@review.id), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-sm btn-danger" %>
            </td>
          <% end %>
      
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4 mx-auto border-top border-dark"></div>

  <div class="mt-3 mb-3">
    <p>コメント件数：<%= @review.review_comments.count %></p>
    <% @review.review_comments.each do |review_comment| %>
      <table>
        <thead>
          <tr>
            <th class="w-25"></th>
          </tr>
        </thead>
        <tbody class="border-bottom">
          <tr>
            <td><%= image_tag review_comment.user.get_profile_image(50,50) %></td>
            <td><%= review_comment.comment %></td>
          </tr>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= review_comment.user.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <%= review_comment.created_at.strftime('%Y/%m/%d %H：%M') %>
              <% if review_comment.user == current_user %>
                <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="mb-5">
    <%= form_with model: [@review, @review_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメント欄" , class: 'form-control review_comment'  %><br>
      <%= f.submit "送信する", class: "btn btn-sm btn-secondary" %>
    <% end %>
  </div>

</div>