<h1>レビュー編集フォーム</h1>

<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= form_with model: @review do |f| %>
    
    <h4>名前</h4>
    <%= f.text_field :title %>
    
    <h4>レビュー</h4>
    <%= f.text_area :body %> <br>
    
    <div>
      <%= f.submit '更新' %>  <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" %>
    </div>
    
  <% end %>
</div>

<%= link_to "詳細ページへ戻る", review_path(@review.id) %> | <%= link_to "一覧へ戻る", reviews_path %>