
<table>

    <thead>
      <tr>
        <th></th>
        <th> 名所 </th>
        <th> レビュー </th>
        <th></th>
      </tr>
    </thead>

  <div>
    <% @reviews.each do |review| %>
      <tbody>
        <tr>
          <% if current_user == review.user %>
            <td>
              <%= link_to mypage_path do %>
                <%= image_tag review.user.get_profile_image(50,50) %>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= link_to user_path(review.user.id) do %>
                <%= image_tag review.user.get_profile_image(50,50) %>
              <% end %>
            </td>
          <% end %>
          
          <td>
            <%= link_to review_path(review) do %>
              <%= review.title %>
            <% end %>
          </td>
            
          <td>
            <%= truncate(review.body, length: 30, omission: '...') %>
          </td>
        </tr>
        
        <tr>
          <td colspan="3">
            投稿日：<%= review.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
      </tbody>  
    <% end %>
  </div>

</table>