<!DOCTYPE html>
<html>
  <head>
    <title>SpotReviewers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> 
      <a class="navbar-brand" href="/">Spot Reviewers</a>
    </header>
    
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'マイページ', mypage_path %>
          </li>
          <li>
            <%= link_to '投稿一覧', reviews_path %>
          </li>
          <li>
            <%= link_to '投稿フォーム', new_review_path %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'マイページ', mypage_path %>
          </li>
          <li>
            <%= link_to '投稿一覧', reviews_path %>
          </li>
          <li>
            <%= link_to '会員登録', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'ログイン', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <div class="d-flex justify-content-center mb-3">
        <%= render "public/searches/formbox" %>
      </div>
      
      <%= yield %>
    </main>
    
  </body>
</html>
